<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoDroid.Toolkit" version="1.1.0.0" targetFramework="MonoAndroid43" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="MonoAndroid43" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="MonoAndroid43" />
  <package id="Xamarin.Android.Support.v4" version="23.1.1.0" targetFramework="MonoAndroid43" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.1.1.0" targetFramework="MonoAndroid43" />
  <package id="Xamarin.Insights" version="1.11.3" targetFramework="MonoAndroid43" />
  <package id="ZXing.Net.Mobile" version="2.0.3.1" targetFramework="MonoAndroid43" />
</packages>