<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.xamarin.evolvequest.public" android:installLocation="auto" android:versionName="1.0" android:versionCode="4">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="18" />
	<application android:label="Evolve Quest" android:theme="@style/Theme.Quest" android:icon="@drawable/ic_launcher">
		<service android:name="com.estimote.sdk.service.BeaconService" android:exported="false" />
	</application>
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
</manifest>